head {
    display: block;
    background-color: #DCDCDC;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: #000;
}
sub {
    display: block;
    background-color: #DCDCDC;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: #000;
}
setlist {
    background-color: #DCDCDC;
    width: 100%;
}
record {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0;
}
title {
    display: block;
    color: #C71585;
    font-size: 20px;
}
artist {
    display: block;
    color: #191970;
    font-size: 20px;
}
genre {
    display: block;
    color: #000;
    font-size: 15px;
}
year {
    display: block;
    color: #000;
    font-size: 15px;
}